@{
   Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"  />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div style="background-color: black; padding: 10px; color: white">
        Menu Item 1 - Menu Item 2 - Menu Item 3
    </div>

    @RenderBody()

    <div style="background-color: lightgray">
       Copyright 2017
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>


