@model EZCourse.Models.Contact
@{
   ViewData["Title"] = "Contact";
}

<form asp-action="Contact">
    <div class="form-horizontal">

       <h4>Contact</h4>
       <hr />

     <div asp-validation-summary="ModelOnly" class="text-danger"></div>

       <div class="form-group">
           <label asp-for="Name" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Name" class="form-control" />
               <span asp-validation-for="Name" class="text-danger"></span>
           </div>

<div class="form-group">
           <label asp-for="Email" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Email" class="form-control" />
               <span asp-validation-for="Email" class="text-danger"></span>
           </div>

<div class="form-group">
           <label asp-for="Phone" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Phone" class="form-control" />
               <span asp-validation-for="Phone" class="text-danger"></span>
           </div>

<div class="form-group">
           <label asp-for="Site" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Site" class="form-control" />
               <span asp-validation-for="Site" class="text-danger"></span>
           </div>

@* <div class="form-group">
           <label asp-for="Age" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Age" class="form-control" />

           </div> *@

<div class="form-group">
           <label asp-for="Message" class="col-md-2 control-label"></label>
           <div class="col-md-10">
               <input asp-for="Message" class="form-control" />
               <span asp-validation-for="Message" class="text-danger"></span>
           </div>
       <br>
           
       <button>Send</button>


       </div>

    </div>
</form>
   